@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
}
li{
margin-right: 30px;
border: 5px solid #3b8eff;
padding: 5px;
}
a {
  text-decoration: none; 
}
